*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: black;
}


.main{
    background-image: url("assets/images/background.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box{
    top: 0;
    height: 70vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
}

nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 14px;
    padding: 0 30px;
}

.hero> :first-child{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 500;
    font-size: 13px;
    text-align: center;
} 

.seperation{
    height: 5px;
    background-color: rgb(31, 31, 31);
    z-index: 20;
}

.btn{
    cursor: pointer;
    padding: 7px 10px;
    font-weight: 520;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.401);
    border-radius: 4px;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 7px 20px;
    font-size: 15px;
    border-radius: 5px;
}

.btn-red-sm{
    padding: 4px 10px;
    background-color: red;
    color: white;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.main input{
    padding: 7px 33px 7px 10px;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    background-color: rgba(15, 15, 15, 0.723);
    border: 1px solid rgba(255, 255, 255, 0.568);
}



.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    /* flex-wrap: wrap; */
}
.secImg{
    position: relative;
}
.secImg img{
    width: 340px;
    margin-top: 5px;
    position: relative;
}
.secImg video{
    position: absolute;
    top: 20px;
    right: 33px;
    width: 275px;
}
@media screen and (max-width : 1000px){
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
    width: 250px;
    margin-top: 5px;
    position: relative;
    }
    .secImg video{
    position: absolute;
    top: 20px;
    right: 33px;
    width: 210px;
    }
}
section.first > div{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 30px 0;
}

section.first > div :first-child{
    font-size: 45px;
    font-weight: bolder;
}

section.first > div :first-child{
    font-size: 30px;
}


.faq h2{
    text-align: center;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover{
    background-color: rgba(66, 66, 66, 0.781);
}
.faqbox{
    transition: all 0.5s ease-out;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.274);
    margin: 10px auto;
    padding: 20px;
    max-width: 55vw;
    cursor: pointer;
}

.last{
    color: white;
    text-align: center;
    font-size: 20px;
}

.last-buttons{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.last-buttons input{
    padding: 15px 33px 15px 15px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
    background-color: rgba(15, 15, 15, 0.723);
    border: 1px solid rgba(255, 255, 255, 0.568);
    width: 40vw;
}
.last-buttons button{
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 20px;
}
.questions{
    padding: 34px 0px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width : 1000px){
    .footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    }
}
@media screen and (max-width : 600px){
    .footer{
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    }
}
.footer a{
    font-size: 16px;
    font-weight: 500;
    color: rgb(213, 211, 211);
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}